.product-slide {
  width: 100%;
  max-width: 800px; /* Điều chỉnh lại để phù hợp với thiết kế */
  height: 400px; /* Tăng chiều cao để phù hợp với slide */
  border-radius: 10px;
  margin-top: 8px;
  overflow: hidden;
}

.product-slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.product-slide-thumbs {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  max-height: 100px;
  padding: 5px 0;
}

.product-slide-thumbs .swiper-slide {
  display: flex;
  align-items: center;
  width: 80px !important;
  height: 85px;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
}

.product-slide-thumbs img {
  width: 100%; /* Đảm bảo ảnh lấp đầy slide thumbnail */
  height: auto; /* Giữ tỷ lệ khung hình */
  object-fit: cover;

  border-radius: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s;
}

.product-slide:hover .swiper-button-prev,
.product-slide:hover .swiper-button-next {
  color: #1e40af;
  opacity: 1;
}

.product-slide-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border-bottom: 3px solid #1e40af;
  font-weight: 700;
}

.product-slide-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 3px solid #1e40af;
  font-weight: 700;
}

.product-slide-thumbs {
  position: relative;
}
