.swiperContainer {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide:hover {
  background-color: #f3f4f6;
}

.swiperSlideLink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.swiperSlideImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiperContainer {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiperSlideBackground {
  background-size: cover;
  background-position: center;
}

.mySwiperLarge {
  height: 80%;
  width: 100%;
  position: relative;
}

.mySwiperSmall {
  height: 20%;
  box-sizing: border-box;
}

.mySwiperSmall .swiperSlide {
  width: 25%;
  height: 100%;
}

.swiperSlideThumbActive {
  opacity: 1;
  border-bottom: 3px solid #1e40af;
  font-weight: 700;
}

.swiperButtonPrev,
.swiperButtonNext {
  opacity: 0;
  transition: opacity 0.3s;
}

.mySwiperLarge:hover .swiperButtonPrev,
.mySwiperLarge:hover .swiperButtonNext {
  color: #1e40af;
  opacity: 1;
}
